@use "./config"as mixin;
@use "./variables"as vari;

.card {
    width: vari.set-pro(col-3);
    background-color: vari.set-color(white);

    margin: vari.set-pro(con-margin);
    // @extend mixin.centeringA;

    &__img {
        width: 100%;
        height: 300px;
    }

    &__link {
        color: vari.set-color(secondary);

        &--active:hover {
            color: vari.set-color(warning);
            text-decoration: underline;
        }
    }

    &__text {
        line-height: 25px;
        color: vari.set-color(secondary)
    }

    &__title {
        font-size: 1.5rem;
        color: vari.set-color(info);
        margin: 10px 0px;
    }

    &__body {
        padding: vari.set-pro(padding);
    }

    &__footer {
        padding: {
            top: 0px;
            bottom: 15px;
            left: 15px;
        }

        ;
        @extend .card__title;
        font-size: 1rem;
    }
}