$colors:(primary:#0278de,
    success:#18a540,
    dark:#0e100f,
    secondary:#585a59,
    light:#e2e4e2,
    danger:#df2716,
    warning:#ea7e0b,
    white:#fcfcfc,
    info:#054f99,
);
$uses:(box-shadow:0 1px 5px rgba(140, 140, 140, .8),
    padding:1.2rem .7rem,
    container:1200px,
    con-margin:0 auto,
    col-4:(1200 / 4) * 1px,
    col-3:(1200 / 3) * 1px,
    col-6:(1200 / 2) * 1px);

@function set-color($get) {
    @return map-get($colors, $get)
}

;

@function set-pro($get) {
    @return map-get($uses, $get)
}

;
$red:red !default;