//config files
@use "./file/variables"as color;
@use "./file/utilities";
// partials files
@use "./header";
@use "./landing";
@use "./register";
@use "./login";
@use "./developer";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: color.color(primary);
}

li {
    list-style: none;
}

img {
    width: 100%;
}