$color:green;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    width: 1200px;
    margin: auto;

    .row {
        width: 100%;

        .col-lg-4 {
            width: (1200 / 4) * 1px;
            background-color: #0df2c9;
            color: black;
            padding: 10px 5px;
        }
    }
}