// configs
@use "./variables"as color;
// partials
@use "./card";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: color.set-color(light);
    font-family: Roboto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}